@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Zen+Antique&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Playfair Display', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: black;
}

.nav-link{
  color: antiquewhite;
}

.navbar-brand{
  margin-left: 20px;
  color: antiquewhite;
}

.navbar-nav{
  margin-left: auto;
}

.img{
  height: 200px;
  width: 100%;
  border-radius: 5px !important;
}

h1{
  font-size: 25px;
}

.bs{
  box-shadow: rgba(0,0,0,0.35) 0px 5px 10px;
  margin-top: 20px;
  border-radius: 5px !important;
  padding: 20px;
}

#input{
  box-shadow: none !important;
  border: 1px solid black;

}

h2{
  font-size: 30px ;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.dropdown{
  margin-right: 10px;
}

#select{
  margin-left: 240px;
}

.landing{
  background-color: black;
  height: 100vh;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 130px;
}

.landingbtn{
  background-color: white;
  color: black;
  margin-top: 50px;
}